<p>To simulate a succesfill cart check-out, fil out the following form:</p>
<form action="/cart/checkout" class="form" method="post">
<div class="form-group">
    <label> Name:
        <input name="name" class="form-control" />
    </label>
</div>
<div class="form-group">
    <label>Email:
        <input type="email" name="email" class="form-control">
    </label>
</div>
<div class="form-group">
    <button type="submit" class="btn btn-primary"> Simulate Order</button>
</div>
</form>